div {
  border: 1px solid black;
  margin: 1px 0px;
}

.player-box  {
  height: 15vh;
}
.player-box-tall  {
  height: 35vh;
}
.cards-box, .chat-box, .user-info{
  height: 25vh;
}
::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}
#chatBigDiv{
  height: 75%;
  overflow: scroll;
  background: black;
}
.chat-view{
    display: table;
    table-layout: fixed;
    height: 90%;
    width: 100%;
    max-height: 90px;
}
.chat-message{
  text-overflow: ellipsis;
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
  margin: 0;
  padding: 1px;
  max-height: 0;
}
.message{
  margin: 0;
  margin-left: 10px;
  color: white;
  font-size: 12px;
}
.messageInput{
  height: 20%;
  border: none;
  background: none;
  padding: 5px;
  width: 100%;
  font-size: 12px;
}
.messageInput:focus{
  outline: none;
}
/* .background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: grey;
  z-index: 2;
} */
.playing {
  border: 4px solid green;
}
.sittingOut {
  border: 4px solid red;
}
.currentUser {
  box-shadow: 0px 0px 5px blue;
}
.blueArrow {
  color: blue;
}
