div {
  border: 1px solid black;
  margin: 1px 0px;
}

.player-box  {
  height: 15vh;
}
.player-box-tall  {
  height: 35vh;
}
.cards-box, .chat-box, .user-info{
  height: 20vh;
}


/* .background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: grey;
  z-index: -1;
} */
